<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../style/style.css">
    <link rel="stylesheet" href="./../style/carrito.css">
    <title>Carrito Compra-Carrito</title>
</head>
<body>
    <main class="main">
        <h1>Mirar Datos</h1>
        <table>
            <thead>
                <tr>
                    <td>Producto</td>
                    <td>Precio</td>
                    <td>Comprar</td>
                </tr>
            </thead>
            <tbody id="tbody">
            </tbody>
        </table>
    </main>
    <script src="./../js/carrito.js"></script>
</body>
</html>