<div class="flex flex-col gap-12 text-center justify-center items-center mb-12">
    <h1>BookMarks Web</h1>

    <nav>
        <ul class="flex flex-row gap-4">
            <li><a href="/" class="rounded-2xl text-grisLetras p-3 text-2xl hover:underline hover:text-white transition-all">Mirar Todas</a></li>
            <li><a href="/Buscar" class="rounded-2xl text-grisLetras p-3 text-2xl hover:underline hover:text-white transition-all">Buscar</a></li>
            <li><a href="/FiltrarCategoria" class="rounded-2xl text-grisLetras p-3 text-2xl hover:underline hover:text-white transition-all">Filtrar por categoria</a></li>
            <li><a href="/CrearBookMark" class="rounded-2xl text-grisLetras p-3 text-2xl hover:underline hover:text-white transition-all">Agregar un nuevo BookMarks</a></li>
        </ul>
    </nav>
</div>