<section class="w-full flex flex-row gap-4 hover:bg-gray-700 rounded-2xl p-2">
    <div class="p-3">
        <img
            src="https://img.freepik.com/vector-premium/silueta-negra-es-avatar-predeterminado-perfil_664995-354.jpg"
            alt="fotoPredeterminada"
            class="w-14 h-14 rounded-full"
        />
    </div>
    <div class="flex flex-row justify-between items-center w-full">
        <div class="flex flex-col">
            <span>User</span>
            <span>Ult. Message</span>
        </div>
        <div>
            <span>Day</span>
        </div>
    </div>
</section>