<footer class="grid grid-cols-10 bg-backgroundComponents absolute bottom-0 w-full">
    <div class="col-span-1 hover:bg-shades transition-all duration-300 rounded-3xl flex justify-center items-center py-2">
        <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M14 3v4a1 1 0 0 0 1 1h4"></path><path
                d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"
            ></path><path d="M12 11v6"></path><path
                d="M9.5 13.5l2.5 -2.5l2.5 2.5"></path></svg
        >
    </div>
    <div class="col-span-8 w-full">
        <input
            type="text"
            class="text-letter w-full h-full outline-none"
            placeholder="Type a message"
        />
    </div>
    <div class="col-span-1 hover:bg-shades transition-all duration-300 rounded-3xl flex justify-center items-center py-2">
        <button class="">
            <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                    d="M4.698 4.034l16.302 7.966l-16.302 7.966a.503 .503 0 0 1 -.546 -.124a.555 .555 0 0 1 -.12 -.568l2.468 -7.274l-2.468 -7.274a.555 .555 0 0 1 .12 -.568a.503 .503 0 0 1 .546 -.124z"
                ></path><path d="M6.5 12h14.5"></path></svg
            >
        </button>
    </div>
</footer>
