---
import Search from "../icons/Search.astro";
---

<header class="flex flex-row justify-between items-center bg-gray-800 p-4 absolute top-0 w-full">
    <div class="flex flex-row gap-4 items-center">
        <img
            src="https://img.freepik.com/vector-premium/silueta-negra-es-avatar-predeterminado-perfil_664995-354.jpg"
            alt="fotoPredeterminada"
            class="w-12 h-12 rounded-full"
        />
        <div>
            <p>User</p>
            <p>Data</p>
        </div>
    </div>
    <div class="hover:bg-gray-500 rounded-2xl p-2">
        <Search/>
    </div>
</header>