@model API_JUEGOS.Models.Game
@{
    ViewData["Title"] = "Create";
}
<div class="container">
    <h1 class="m-4">Create Game</h1>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="NombreJuego" class="control-label"></label>
                    <input asp-for="NombreJuego" class="form-control" />
                    <span asp-validation-for="NombreJuego" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CategoriaJuego" class="control-label"></label>
                    <input asp-for="CategoriaJuego" class="form-control" />
                    <span asp-validation-for="CategoriaJuego" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AnioLanzamiento" class="control-label"></label>
                    <input asp-for="AnioLanzamiento" class="form-control" />
                    <span asp-validation-for="AnioLanzamiento" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PrecioLanzamiento" class="control-label"></label>
                    <input asp-for="PrecioLanzamiento" class="form-control" />
                    <span asp-validation-for="PrecioLanzamiento" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Descripcion" class="control-label"></label>
                    <textarea asp-for="Descripcion" class="form-control" ></textarea>
                    <span asp-validation-for="Descripcion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UrlImage" class="control-label"></label>
                    <input asp-for="UrlImage" class="form-control" />
                    <span asp-validation-for="UrlImage" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-controller="Home" asp-action="Index">Back to List</a>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
