/* _content/Clon_Spotify/Views/Shared/_Layout.cshtml.rz.scp.css */
*[b-xrlhqrv7q1] {
    margin: 0px;
    padding: 0px;
    font-family: Arial;
    font-size: 30px;
}

body[b-xrlhqrv7q1] {
    background-color: black;
    color: white;
}
