* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    >nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        >div>a {
            padding: 10px;
        }

        >ul {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            list-style: none;
        }
    }
}

.tituloLogo {
    display: none;
}

.opciones {
    padding: 5px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    background-color: rgb(238, 238, 238);
    border-radius: 0px 0px 0px 30px;

    >a>button {
        background-color: white;
        padding: 10px 10px;
        border: none;
        border-radius: 20px;
        display: flex;
        gap: 10px;
    }
}

.main {
    margin-top: 20px;

    >* {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    >.navegacion {
        flex-direction: row;
        gap: 20px;

        >a {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            >img {
                border: 1px solid black;
                padding: 10px;
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }
        }
    }
}

#secciones {
    text-decoration: none;
    >span {
        color: black;
    }
}

#secciones:nth-child(1) {
    padding: 5px;
    border-bottom: 2px solid rgb(39, 5, 112);

    >img {
        background-color: rgb(39, 5, 112);
    }

    >span {
        color: rgb(39, 5, 112);
    }
}

.alojamientos {
    color: white;
    background-color: rgb(39, 5, 112);
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    justify-content: space-between;
    align-items: center;

    .from {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .formulario {
        display: flex;
        flex-direction: row;
        background-color: white;
        padding: 10px;
        justify-content: center;
        align-items: end;
        color: rgb(205, 160, 127);

        >.cuadro {
            display: flex;
            flex-direction: column;

            >span {
                font-size: 15px;
            }

            >input {
                border: none;
                width: 200px;
            }
        }

    }

    .boton {

        >button {
            background-color: rgb(250, 80, 63);
            padding: 5px;
            border: none;
            border-radius: 50%;
        }
    }
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;

    >.recibirOfertas {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;

        >span {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 20px;

            >h4 {
                font-size: 23px;
                color: rgb(68, 68, 68);
            }
        }

        >.mensaje {
            flex-direction: column;
            justify-content: center;
            align-items: start;

            >input {
                width: 80vw;
                height: 30px;
                padding: 0px 10px;
            }

            >#registro {
                background-color: transparent;
                padding: 10px;
                border-radius: 20px;
                border: 1px solid rgb(39, 5, 112);
                color: rgb(39, 5, 112);
            }
        }

        >p {
            font-size: 12px;
            text-align: start;
            color: rgb(114, 119, 127);

            >a {
                text-decoration: none;
                color: rgb(39, 5, 112);
            }
        }
    }

    .redes {
        display: flex;
        flex-direction: column;
        gap: 30px;
        > div {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 20px;
            > svg {
                width: 24px;
                height: 24px;
            }
        }
        > p {
            color: rgb(114,119,127);
            > strong {
                color: black;
            }
        }
    }
}