@{
    ViewData["Title"] = "1.API Juegos";
}

<div class="container">
    <h1>API Juegos</h1>
    <a asp-controller="Home" asp-action="Create">Create Game</a>
    <p>Añade tus Juegos favoritos para luego poder acceder por medio de nuestra API</p>

    <table class="table">
        <thead>
            <tr>
                <th>Nombre del Juego</th>
                <th>Categoria</th>
                <th>Año de lanzamiento</th>
                <th>Precio de lanzamiento</th>
                <th>Extra</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
