---
import Header from "./../components/Header.astro"
const {Title} = Astro.props;
import "./../styles/global.css"
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{Title}</title>

	</head>
	<body class="bg-negro p-9 text-white text-3xl">
		<header class="flex flex-col justify-center items-center">
			<Header />
		</header>
		<main class="flex flex-col justify-center items-center">
			<slot />
		</main>
	</body>
</html>
