---
import Header from '../components/Header.astro';
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<div class="m-5 flex flex-col">
		<header>
			<Header />
		</header>
		<main>
			<Welcome/>
		</main>
	</div>
</Layout>
