.index {
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
}

.main > * {
    width: 100%;
    height: auto;
    margin-top: 40px;
    box-sizing: border-box;
}

.Escuchados-Recientes {
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    grid-gap: 20px;
    justify-content:center;
}

.tarjeta-masEscuchada {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: rgb(49,62,73);
    gap: 10px;
}

.tarjeta-masEscuchada > img {
    width: 70px;
    height: 70px;
}
.tarjeta-masEscuchada > span{
    font-size: 12px;
}

.playlist-reciente > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.carrucel-tarjeta {
    width: 100%;
    position: relative;
    transition: .3s all;
    overflow: hidden;
}

.carrucel-tarjeta:hover ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.div-grande {
    width: 200%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    transition: transform 0.5s ease;
    transform: translateX(0%);
}

.carrucel-tarjeta > ul {
    display: none;
    width: 100%;
    height: 20px;
    list-style-type: none;
    position: absolute;
    top: 50%;
}  

.carrucel-tarjeta > ul > li:hover {
    cursor: pointer;
}

.tarjeta-carrucel {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    height: 300px;
    width: 230px;
    background-color: transparent;
    gap: 10px;
}

.tarjeta-carrucel:hover .btn-playList {
    display: flex;
    position: relative;
    top: -25%;
}

.tarjeta-carrucel > img {
    width: 100%;
    height: 200px;
}

.tarjeta-carrucel > span, .playlist-reciente > div > * {
    font-size: 20px;
    text-decoration: none; 
    color: white;
}

.tarjeta-carrucel > span:hover {
    text-decoration: revert;
}

.btn-playList {
    display: none;
    width: 100%;
    justify-content: end;
    align-items: center;
    position: absolute;
    top: 2%;
}

.link-playList {
    text-decoration: none;
    color: white;
}

@media (max-width: 900px) {
    .Escuchados-Recientes {
        grid-template-columns: 130px 130px;
        justify-content: start;
    }

    .tarjeta-masEscuchada {
        height: auto;
    }
    .tarjeta-masEscuchada > img {
        width: 40px;
        height: 40px;
    }

    .tarjeta-masEscuchada > span {
        font-size: 10px;
    }

    .playlist-reciente > div > a {
        font-size: 10px;
    }

    .playlist-reciente > div > a > h3 {
        font-size: 20px;
    }

    .tarjeta-carrucel > img {
        width: 100px;
        height: 100px;
    }

    .tarjeta-carrucel > span > a {
        font-size: 12px;
    }

    .tarjeta-carrucel {
        height: 140px;
    }

    .carrucel-tarjeta > ul {
        display:none;
    }

    .tarjeta-carrucel:hover .btn-playList {
        display: flex;
        position: relative;
        top: -50%;
        right: 10%;
    }

    .playlist-reciente > div {
        justify-content: normal;
        gap: 100px;
    }

    .carrucel-tarjeta:hover ul {
        display: none;
    }
}