.container {
    width: 30vw;
    gap: 20px;
}

.recuperar {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 20px;
}

.recuperar > p, .recuperar > h3 {
    color: white;
}

.recuperar > h3 {
    font-weight: bold;
    font-size: 28px;
}

form {
    width: 100%;
    gap: 20px;
    display: flex;
    flex-direction: column;
}
a {
    color: white;
}
a:hover {
    color: limegreen;
}