---
import "./../styles/global.css"
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/CSharp.png" />
		<meta name="generator" content={Astro.generator} />
		<title>12 Meses 12 Proyectos</title>
	</head>
	<body>
		<slot />
	</body>
</html>