<div class="tarjeta">
	<p>
		<img src="https://cdn-images.dzcdn.net/images/cover/3db1fbf7ebe1df851c3e837863e8af04/0x1900-000000-80-0-0.jpg" alt="portada" class=" imagen imagen-album" style="width: 70px; height: 70px; border-radius: 10px; margin-left: 25px;" />
	</p>
	<p class="contenido-tarjeta">
		<span>
			Nombre del album/PlayLists
		</span>
		<span>
			Tipo • Artista
		</span>
	</p>
</div>
<div class="tarjeta">
	<p>
		<img src="https://cdn-images.dzcdn.net/images/cover/1088ecefee3af22a2eb50f03af80a875/0x1900-000000-80-0-0.jpg" alt="portada" class="imagen imagen-artista" style="width: 70px; height: 70px; border-radius: 50%; margin-left: -60px;" />
	</p>
	<p class="contenido-tarjeta">
		<span>
			Nombre del artista
		</span>
		<span>
			Artist
		</span>
	</p>
</div>