<div class="tarjeta">
	<p>
		<img src="@url" alt="portada" class=" imagen imagen-album" />
	</p>
	<p class="contenido-tarjeta">
		<span>
			@nombre
		</span>
		<span>
			@Tipo • @Artista
		</span>
	</p>
</div>
@code{
	[Parameter]
	public string? url { get; set; } = null;
	[Parameter]
	public string? nombre { get; set; } = null;
	[Parameter]
	public string? Tipo { get; set; } = null;
	[Parameter]
	public string? Artista { get; set; } = null;
}
