<div class="tarjeta">
	<p>
		<img src="https://cdn-images.dzcdn.net/images/cover/3db1fbf7ebe1df851c3e837863e8af04/0x1900-000000-80-0-0.jpg" alt="portada" class=" imagen imagen-album" />
	</p>
	<p class="contenido-tarjeta">
		<span>
			Nombre del album/PlayLists
		</span>
		<span>
			Tipo • Artista
		</span>
	</p>
</div>
