<div class="tarjeta-masEscuchada">
	<img src="@urlImage" alt="Portada" />
	<span>
		@titulo
	</span>
</div>

@code{
	[Parameter]
	public string? titulo { get; set; } = null;
	[Parameter]
	public string? urlImage { get; set; } = null;
}
