<div class="tarjeta">
	<p>
		<img src="@url" alt="portada" class="imagen imagen-artista" />
	</p>
	<p class="contenido-tarjeta">
		<span>
			@Artista
		</span>
		<span>
			Artist
		</span>
	</p>
</div>
@code {
	[Parameter]
	public string? url { get; set; } = null;
	[Parameter]
	public string? Artista { get; set; } = null;
}