@using Clon_Spotify.Views.Components.Iconos
@using Microsoft.AspNetCore.Components.Routing

<div class="tarjeta tarjeta-carrucel">
	<img src="@urlImage" alt="PlayList" />
	<span>
		@description
		@artista
	</span>
	<div class="btn-playList">
		<PlayListas/>
	</div>
</div>

@code{
	[Parameter]
	public string? urlImage { get; set; }
	[Parameter]
	public string? description { get; set; }
	public string? artista { get; set; }
}
