<div class="tarjeta">
	<p>
		<img src="https://cdn-images.dzcdn.net/images/cover/1088ecefee3af22a2eb50f03af80a875/0x1900-000000-80-0-0.jpg" alt="portada" class="imagen imagen-artista" />
	</p>
	<p class="contenido-tarjeta">
		<span>
			Nombre del artista
		</span>
		<span>
			Artist
		</span>
	</p>
</div>